@model Fiap03.Web.MVC.Models.CarroModel

@{
    ViewBag.Title = "Cadastrar";    
}

<h1>Cadastro de Carro</h1>

@Fabrica.Mensagem(TempData["mensagem"])

<!-- Comentário HTML -->

@* Comentário C# *@

@using (Html.BeginForm())
{
    @Html.Partial("_form")
    <div class="row">
        <div class="col text-right">
            @Fabrica.Botao("Cadastrar")
            @Html.ActionLink("Cancelar","Listar",
                null, new { @class = "btn btn-info"})
        </div>
    </div> 
}

@section scripts{
    <p>Exemplo de Section</p>
}