@model Fiap03.Web.MVC.Models.CarroModel

@{
    ViewBag.Title = "Cadastrar";    
}

<h1>Cadastro de Carro</h1>

@Fabrica.Mensagem(TempData["mensagem"])

<!-- Comentário HTML -->

@* Comentário C# *@

@using (Html.BeginForm())
{
    @Html.Partial("_form")
    <div class="row">
        <div class="col text-right">
            @Fabrica.Botao("Cadastrar")
            @Html.ActionLink("Cancelar","Listar",
                null, new { @class = "btn btn-info"})
        </div>
    </div> 
}

@section scripts{
    
    <script>
        $(document).ready(function(){

            $("#Placa").inputmask('aaa-9999');

            //Datepicker no campo de data 
            $('#Documento_DataFabricacao').datepicker();

            //Selecionar o botão e esconder
            $('.btn').hide();

            //Quando o select de categoria for modificado, exibir os botões
            //selecionar o select -> dar um evento
            //$('select[name=Documento_Categoria]')
            $('#Documento_Categoria').change(function() {
                if ($(this).val() != "") {
                    $('.btn').fadeIn(); //exibe
                } else {
                    $('.btn').fadeOut(); //esconde
                }
            });

        });
    </script>
}