@model Fiap03.Web.MVC.Models.CarroModel

@{
    ViewBag.Title = "Editar";
}

<h2>Editar</h2>

@using (Html.BeginForm())
{
    @Html.Partial("_Form")
    <div class="row">
        <div class="col text-right">
            @Fabrica.Botao("Editar")
            @Html.ActionLink("Cancelar","Listar",
                null, new { @class = "btn btn-info"})
        </div>
    </div>
}
