@model IList<Fiap03.Web.MVC.Models.CarroModel>

@{
    ViewBag.Title = "Listar";
}

@Fabrica.Mensagem(TempData["msg"])

<h2 id="titulo">Filtro</h2>
@using (Ajax.BeginForm("Pesquisar", null , new AjaxOptions
    {
        HttpMethod = "Get",
        InsertionMode = InsertionMode.Replace,
        UpdateTargetId = "tabela-corpo"
    }, new { id = "formulario" }))
{
    <div class="row">
        <div class="col">
            <select name="ano" class="form-control">
                <option value="0">Selecione</option>
                @for (var i = DateTime.Now.Year + 2; i >= 1980; i--)
                {
                    <option>@i</option>
                }
            </select>
        </div>
        <div class="col">
            <button class="btn btn-success" type="submit">Buscar</button>
        </div>
        <div class="col"></div>
    </div>
}

<br />
<table class="table">
    <thead>
        <tr>
            <th>Marca</th>
            <th>Ano</th>
            <th>Esportivo</th>
            <th>Placa</th>
            <th>Descrição</th>
            <th>Combustível </th>
            <th>Data de Fabricação</th>
            <th>Categoria</th>
            <th>Renavam</th>
            <th></th>
        </tr>
    </thead>
    <tbody id="tabela-corpo">
       @Html.Partial("_Lista", Model)
    </tbody>
</table>

<!-- Modal -->
<div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Confirmação</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <p>Deseja realmente excluir?</p>
            </div>
            <div class="modal-footer">
                <!--formulário-- URL: /Carro/Excluir - POST> -->
                @using (Html.BeginForm("Excluir", "Carro"))
                {
                    <!-- Campo para o ID -->
                    <input type="hidden" name="codigo" id="codigoExcluir" />
                    <button type="button" class="btn btn-primary" data-dismiss="modal">Não</button>
                    <button type="submit" class="btn btn-danger">Sim</button>
                }
            </div>
        </div>
    </div>
</div>

@section scripts{
    <script>
        $().ready(function () {
            //seleciona a linha e define o evento hover (dentro, fora)
            $('tr').hover(
                function () {
                    $(this).find('td').css('color', '#FF007F');
                },
                function () {
                    $(this).find('td').css('color', '');
                });
        });
        function mudouOpcao() {
            //recuperar os elementos do HTML
            //document.getElementById("titulo").innerHTML = "FIAP";
            titulo.innerHTML = "FIAP";
            titulo.style.backgroundColor = "#000000";
            titulo.style.color = "yellow";
            formulario.submit();
            //alert("OK");
        }
    </script>
}