
@{
    ViewBag.Title = "Listar";
}

<h2>Listar</h2>

<table class="table">
    <thead>
        <tr>
            <th>Nome</th>
            <th>Curso</th>
            <th>Período</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>Desidério</td>
            <td>Fabrica</td>
            <td>Noturno</td>
        </tr>
        <tr>
            <td>Erick</td>
            <td>Engenharia</td>
            <td>Diurno</td>
        </tr>
    </tbody>    
</table>

